@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins&display=swap');

/* Smooth transitions */
button, input, .filter-tag {
    transition: all 0.2s ease;
  }
  
  /* Focus states */
  input:focus, button:focus {
    outline: none;
    ring: 2px;
    ring-color: #F6B93B;
  }